@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --text-color: #1a1c20;
    --link-color: #4a76ee;
    --background-color: #eeeff1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--background-color);
    max-width: 1440px;
    margin: 0 auto;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 50px;
}

nav .left a {
    color: var(--text-color);
    font-size: 25px;
    font-weight: 600;
}

nav .right a {
    color: var(--text-color);
    margin: 0 10px;
}

nav .right a:last-child {
    color: var(--background-color);
    background-color: var(--text-color);
    padding: 5px 15px;
    border-radius: 5px;
}

nav .right span {
    margin-left: 5px;
}

/* Section : Hero */
.hero-section {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    align-items: center;
    margin: 50px 0;
    gap: 40px;
    margin-bottom: 100px;
}

.hero-section .text {
    flex: 5;
}

.hero-section .text h2 {
    font-size: 45px;
}

.hero-section #element{
    font-size: 55px;
    font-weight: bolder;
}

.hero-section #element{
    font-size: 35px;
    font-weight: bolder;
}

.hero-section .text .links {
    margin-top: 25px;
}

.hero-section .text .links a {
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid var(--link-color);
    border-radius: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
    transition: .1s;
}

.hero-section .text .links a:hover {
    color: var(--text-color);
    border: 2px solid var(--text-color);
}

.hero-section .headshot {
    flex: 2;
    display: flex;
    justify-content: right;
}

.hero-section .headshot img {
    border-radius: 50%;
    width: 350px;
}

/* Section: About */
.about-section{
    padding: 0 50px;
    margin-bottom: 50px;
}
.about-section h2{
    font-size: 35px;
    margin-bottom: 20px;
}

.about-section h4{
    font-size: 20px;
    margin: 10px 0;
}

.about-section ul li{
    list-style: none;
    margin: 0 10px;
}



/* Section 2: Skills */
.skills-section {
    padding: 0 50px;
    margin-bottom: 100px;
}

.skills-section h2 {
    text-align: center;
    font-size: 35px;
}

.skills-section .text {
    text-align: center;
}

.skills-section .cells {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 25px;
    gap: 10px;
}

.skills-section .cells .cell {
    display: flex;
    align-items: center;
    width: 180px;
    justify-content: center;
    padding: 10px 20px;
    border: 2px solid var(--text-color);
    border-radius: 10px;
    gap: 10px;
}

.skills-section .cells .cell span {
    font-size: 18px;
}

/* Section: Projects */
.project-section{
    padding: 0 50px;
    margin-bottom: 100px;
    text-align: center;
}

.project-section h2 {
    font-size: 35px;
}

.project-section .card {
    display: flex;
    align-items: center;
    gap: 50px;
    border: 2px solid var(--text-color);
    margin-top: 30px;
    padding: 10px 20px;
    border-radius: 10px;
}

.project-section .card .person-details {
    text-align: center;
    flex: 2;
}

.project-section .card .text {
    align-items: center;
    flex: 8;
}

.project-section .card .project-details img {
    width: 150px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
}

.project-section .card .project-details p {
    font-weight: 600;
}

.project-section .card .description .links{
    margin-top: 30px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.project-section .card .description p{
    margin-top: 10px;
}

.project-section .card .description .links a{
    padding: 10px 20px;
    margin: 10px 0;
    border: 2px solid var(--link-color);
    
    border-radius: 10px;
}

/* Section 3: Testimony */
.testimony-section {
    padding: 0 50px;
    margin-bottom: 100px;
}

.testimony-section h2 {
    font-size: 35px;
}

.testimony-section .group {
    display: flex;
    align-items: center;
    gap: 50px;
    border: 2px solid var(--text-color);
    margin-top: 30px;
    padding: 10px 20px;
    border-radius: 10px;
}

.testimony-section .group .person-details {
    text-align: center;
    flex: 2;
}

.testimony-section .group .text {
    align-items: center;
    flex: 8;
}

.testimony-section .group .person-details img {
    width: 150px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
}

.testimony-section .group .person-details p {
    font-weight: 600;
}

.testimony-section .group .person-details p:last-child {
    font-weight: normal;
}

/* Section 4: Contact */
.contact-section {
    padding: 0 50px;
    margin-bottom: 100px;
}

.contact-section h2 {
    font-size: 35px;
    margin-bottom: 20px;
}

.contact-section .group {
    display: flex;
    gap: 50px;
}

.contact-section .group .text {
    flex: 3;
}

.contact-section .group form {
    flex: 3;
    display: flex;
    flex-direction: column;
}

.contact-section .group form input,
.contact-section .group form textarea {
    font-family: 'Poppins', sans-serif;
    border: 2px solid var(--link-color);
    background-color: transparent;
    padding: 10px;
    margin-bottom: 15px;
    outline: none;
    resize: none;
}

.contact-section .group form button{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #fff;
    background-color: var(--link-color);
    border: none;
    height: 50px;
    cursor: pointer;
    transition: .1s;
}

.contact-section .group form button:hover{
    filter: brightness(.9);
}



@media (max-width: 850px) {

    /* Section 1: Hero */
    .hero-section .text h2 {
        font-size: 35px;
    }

    .hero-section .headshot img {
        width: 300px;
    }
}

@media (max-width: 740px) {

    /* Section 1: Hero */
    .hero-section {
        flex-direction: column-reverse;
    }

    .hero-section .text h2 {
        font-size: 35px;
    }

    .hero-section #element{
        font-size: 35px;
        font-weight: bolder;
    }

    .hero-section .text {
        text-align: center;
    }

    .hero-section .headshot img {
        width: 250px;
    }

    /* Section 3: Projects */
    .project-section {
        text-align: center;
    }

    .project-section .card {
        flex-direction: column;
        gap: 20px;
    }
    /* Section 3: Testimony */
    .testimony-section {
        text-align: center;
    }

    .testimony-section .group {
        flex-direction: column;
        gap: 20px;
    }

    /* section 4: Contact */
    .contact-section .group{
        flex-direction: column;
    }
}

@media (max-width: 640px) {

    /* Navbar */
    nav {
        padding: 0 20px;
    }

    nav .right a {
        font-size: 22px;
    }

    nav .right a:last-child {
        color: var(--text-color);
        background: transparent;
        padding: 0;
    }

    nav .right a span {
        display: none;
    }

    /* Section 1: Hero */
    .hero-section {
        padding: 0 20px;
    }
    /* Section 1: About */
    .about-section {
        padding: 0 20px;
    }

    /* Section 2: Skills */
    .skills-section {
        padding: 0 20px;
    }
    /* Section 2: Projects */
    .projects-section {
        padding: 0 20px;
    }
    

    .projects-section {
        padding: 0 20px;
    }



    .skills-section .cells .cell {
        width: 75px;
    }

    .skills-section .cells .cell span {
        display: none;
    }

    /* Section 3: testimony */
    .contact-section{
        padding: 0 20px;
    }
    /* Section 4: Contact */
    .contact-section{
        padding: 0 20px;
    }
}

@media (max-width: 401px) {
    .hero-section .text .links span {
        display: none;
    }
}